/*wiggle effect*/

@-webkit-keyframes wiggle{
    0% {-webkit-transform: translate(5px, 0px);}
    20% {-webkit-transform: translate(-5px, 0px);}
    40% {-webkit-transform: translate(5px, 0px);}
    60% {-webkit-transform: translate(-5px, 0px);}
    80% {-webkit-transform: translate(5px, 0px);}
    100% {-webkit-transform: translate(-5px, 0px);}
}
.footer__text {
    display:inline-block;
    &:hover{
    -webkit-animation-name: wiggle;
    -webkit-animation-duration:1s;
    -webkit-animation-iteration-count: infinite;
    }
}

/*animation points de suspension*/

@-webkit-keyframes ptsuspension{
        0% {
          opacity: 0;
          transform: translateX(-40px);
        }
        33% {
          opacity: 1;
          transform: translateX(0px);
        }
        66% {
          opacity: 1;
          transform: translateX(0px);
        }
        100% {
          opacity: 0;
          transform: translateX(40px);
        }
      }
      
.point__loader .prochainement__point:nth-child(3){
    -webkit-animation: ptsuspension 2s 100ms infinite ease-in-out;
    animation: ptsuspension 2s 100ms infinite ease-in-out;
}

.point__loader .prochainement__point:nth-child(2){
    -webkit-animation: ptsuspension 2s 200ms infinite ease-in-out; ;
    animation: ptsuspension 2s 200ms infinite ease-in-out;
}
      
.point__loader .prochainement__point:nth-child(1){
    -webkit-animation: ptsuspension 2s 300ms infinite ease-in-out;;
    animation: ptsuspension 2s 300ms infinite ease-in-out;
}

.point__loader{
    display:inline-block;
}

