// Couleurs éléments fixes
$header:rgb(88, 156, 135);
$titlefixed:rgb(250, 201, 72);

// Couleurs background menu
$menu-note:rgb(252, 223, 218);
$menu-delice:rgb(237, 239, 239);
$menu-palette:rgb(253, 255, 253);
$menu-chic:rgb(255, 245, 254);

// Couleurs menu note enchantée
$text-note:rgb(65, 32, 35);

// Couleur menu la palette du goût
$palette-dark:rgb(65, 150, 60);
$palette-light:rgb(182, 250, 121);

//Couleurs menu chic à la française
$chic-dessert:rgb(114, 82, 205);
$chic-starter:rgb(198, 116, 18);
$chic-main:rgb(162, 97, 150);

//Couleurs menu délices des papilles
$delice-starter:rgb(40, 64, 223);
$delice-main:rgb(26, 114, 243);
$delice-dessert:rgb(38, 156, 249);
