@charset "UTF-8";
/*wiggle effect*/
@-webkit-keyframes wiggle {
  0% {
    -webkit-transform: translate(5px, 0px);
  }
  10% {
    -webkit-transform: translate(-5px, 0px);
  }
  20% {
    -webkit-transform: translate(5px, 0px);
  }
  30% {
    -webkit-transform: translate(-5px, 0px);
  }
  40% {
    -webkit-transform: translate(5px, 0px);
  }
  50% {
    -webkit-transform: translate(-5px, 0px);
  }
  60% {
    -webkit-transform: translate(5px, 0px);
  }
  70% {
    -webkit-transform: translate(-5px, 0px);
  }
  80% {
    -webkit-transform: translate(5px, 0px);
  }
  90% {
    -webkit-transform: translate(-5px, 0px);
  }
  100% {
    -webkit-transform: translate(5px, 0px);
  }
}
.footer__text {
  display: inline-block;
}
.footer__text:hover {
  -webkit-animation: wiggle 2s infinite;
  animation: wiggle 2s infinite;
}

/*animation points de suspension*/
@-webkit-keyframes ptsuspension {
  0% {
    opacity: 0;
    transform: translateX(-40px);
  }
  33% {
    opacity: 1;
    transform: translateX(0px);
  }
  66% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(40px);
  }
}
.point__loader .prochainement__point:nth-child(3) {
  -webkit-animation: ptsuspension 2s 100ms infinite ease-in-out;
  animation: ptsuspension 2s 100ms infinite ease-in-out;
}

.point__loader .prochainement__point:nth-child(2) {
  -webkit-animation: ptsuspension 2s 200ms infinite ease-in-out;
  animation: ptsuspension 2s 200ms infinite ease-in-out;
}

.point__loader .prochainement__point:nth-child(1) {
  -webkit-animation: ptsuspension 2s 300ms infinite ease-in-out;
  animation: ptsuspension 2s 300ms infinite ease-in-out;
}

.point__loader {
  display: inline-block;
}

/*Blocs menus*/
/*Titres et sous-titres*/
.prochainement {
  height: 40px;
  width: 300px;
  background-color: #589c87;
  border-radius: 10px;
  text-align: center;
  padding-top: 1%;
}
.prochainement span {
  font-size: 1.5em;
  font-family: "Montserrat";
  color: #fac948;
}
.prochainement .point__loader {
  width: 20%;
  margin-top: 3%;
}
.prochainement .point__loader .prochainement__point {
  height: 7px;
  width: 7px;
  padding-right: 1%;
}

/* mediaqueries petits mobiles*/
@media screen and (max-width: 360px) {
  .prochainement {
    height: 40px;
    width: 200px;
    background-color: #589c87;
    border-radius: 10px;
    text-align: center;
    padding-top: 1%;
  }
  .prochainement span {
    font-size: 1em;
    font-family: "Montserrat";
    color: #fac948;
  }
  .prochainement .point__loader {
    width: 20%;
    margin-top: 3%;
  }
  .prochainement .point__loader .prochainement__point {
    height: 4px;
    width: 4px;
    padding-right: 1%;
  }
}
/* fin mediaqueries petits mobiles*/
/* mediaqueries grands mobiles*/
@media screen and (min-width: 360px) and (max-width: 767px) {
  .prochainement {
    height: 40px;
    width: 300px;
    background-color: #589c87;
    border-radius: 10px;
    text-align: center;
    padding-top: 1%;
  }
  .prochainement span {
    font-size: 1.2em;
    font-family: "Montserrat";
    color: #fac948;
  }
  .prochainement .point__loader {
    width: 20%;
    margin-top: 3%;
  }
  .prochainement .point__loader .prochainement__point {
    height: 5px;
    width: 5px;
    padding-right: 1%;
  }
}
/* fin des mediaqueries grands téléphone*/
/* mediaqueries tablette*/
header {
  background-color: #589c87;
  height: 100px;
  text-align: center;
}
header h1 {
  margin: 0;
  padding-top: 1%;
}
header .header__text {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 1.8em;
  color: #fac948;
  text-decoration: none;
}

/* mediaqueries petits mobiles*/
@media screen and (max-width: 360px) {
  header {
    height: 80px;
  }
  header h1 {
    padding-top: 2%;
  }
  header .header__text {
    font-size: 1.3em;
  }
}
/* fin mediaqueries petits mobiles*/
/* mediaqueries grands mobiles*/
@media screen and (min-width: 360px) and (max-width: 767px) {
  header {
    height: 80px;
  }
  header h1 {
    padding-top: 2%;
  }
  header .header__text {
    font-size: 1.3em;
  }
}
/* fin des mediaqueries grands téléphone*/
footer {
  background-color: #589c87;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
}
footer .footer__text {
  color: #fac948;
  font-size: 1.2em;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 1%;
}

/* mediaqueries petits mobiles*/
@media screen and (max-width: 360px) {
  footer {
    background-color: #589c87;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
  }
  footer .footer__text {
    font-size: 0.8em;
    padding-top: 5%;
  }
}
/* fin mediaqueries petits mobiles*/
/* mediaqueries grands mobiles*/
@media screen and (min-width: 360px) and (max-width: 767px) {
  footer {
    background-color: #589c87;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
  }
  footer .footer__text {
    font-size: 0.8em;
    padding-top: 5%;
  }
}
/* fin des mediaqueries grands téléphone*/
.main__pages {
  display: flex;
  flex-direction: column;
}
.main__pages .link__resto {
  position: relative;
  margin-top: -5%;
  font-family: sans-serif;
  text-align: center;
  font-size: 1.5em;
}
.main__pages .chic {
  width: 70%;
  height: auto;
  margin: auto;
  margin-bottom: 10%;
  box-shadow: 0px 0px 8px 1px #a2a5a4;
  border-radius: 5px;
  font-family: "Source Serif";
  background-color: #fff5fe;
  padding: 5%;
}
.main__pages .chic .chic__title {
  background: -webkit-linear-gradient(right, #7252cd, #c67412);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Croissant One", cursive;
  font-size: 2em;
  text-align: center;
  margin-bottom: 10%;
}
.main__pages .chic .chic__undertitle {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
}
.main__pages .chic .chic__undertitle .chic_bar_left, .main__pages .chic .chic__undertitle .chic_bar_right {
  width: 30%;
  height: 1%;
  margin-top: 1%;
}
.main__pages .chic .chic__undertitle h3 {
  font-size: 1.5em;
}
.main__pages .chic .textcontent p {
  display: flex;
  justify-content: space-between;
  font-size: 1.2em;
  padding-left: 5%;
}
.main__pages .chic .textcontent p span {
  display: inline-block;
  justify-self: flex-end;
  padding-right: 5%;
  font-weight: bold;
}
.main__pages .chic #en__appetit {
  color: #c67412;
}
.main__pages .chic #en__appetit h3 {
  background: linear-gradient(to top, #c67412 0%, #c67412 10%, transparent 10.01%) no-repeat left bottom/0 100%;
  transition: background-size 0.5s;
}
.main__pages .chic #en__appetit h3:hover {
  background-size: 100% 100%;
}
.main__pages .chic #plaisir__papilles {
  color: #a26196;
}
.main__pages .chic #plaisir__papilles h3 {
  background: linear-gradient(to top, #a26196 0%, #a26196 10%, transparent 10.01%) no-repeat left bottom/0 100%;
  transition: background-size 0.5s;
}
.main__pages .chic #plaisir__papilles h3:hover {
  background-size: 100% 100%;
}
.main__pages .chic #gourmandises__sucrees {
  color: #7252cd;
}
.main__pages .chic #gourmandises__sucrees h3 {
  background: linear-gradient(to top, #7252cd 0%, #7252cd 10%, transparent 10.01%) no-repeat left bottom/0 100%;
  transition: background-size 0.5s;
}
.main__pages .chic #gourmandises__sucrees h3:hover {
  background-size: 100% 100%;
}

/* mediaqueries petits mobiles*/
@media screen and (max-width: 360px) {
  .main__pages {
    display: flex;
    flex-direction: column;
  }
  .main__pages .chic {
    font-size: 0.5em;
    background-color: #fff5fe;
    margin-bottom: 30%;
  }
  .main__pages .chic .chic__title {
    font-size: 1.5em;
  }
  .main__pages .chic .chic__undertitle {
    display: flex;
  }
  .main__pages .chic .chic__undertitle .chic_bar_left, .main__pages .chic .chic__undertitle .chic_bar_right {
    width: 20%;
    height: 1%;
    margin-top: 3%;
  }
  .main__pages .chic .chic__undertitle h3 {
    font-size: 1.2em;
  }
  .main__pages .chic .textcontent p {
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
    font-size: 1em;
    padding-bottom: 5%;
    padding-left: 0%;
  }
}
/* fin mediaqueries petits mobiles*/
/* mediaqueries grands mobiles*/
@media screen and (min-width: 360px) and (max-width: 767px) {
  .main__pages {
    display: flex;
    flex-direction: column;
  }
  .main__pages .chic {
    font-size: 1em;
    background-color: #fff5fe;
    margin-bottom: 30%;
  }
  .main__pages .chic .chic__title {
    font-size: 1.5em;
  }
  .main__pages .chic .chic__undertitle {
    display: flex;
  }
  .main__pages .chic .chic__undertitle .chic_bar_left, .main__pages .chic .chic__undertitle .chic_bar_right {
    width: 20%;
    height: 1%;
    margin-top: 5%;
  }
  .main__pages .chic .chic__undertitle h3 {
    font-size: 0.8em;
  }
  .main__pages .chic .textcontent p {
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
    font-size: 0.8em;
    padding-bottom: 5%;
    padding-left: 0%;
  }
}
/* fin des mediaqueries grands téléphones*/
/* mediaqueries tablette*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .main__pages {
    display: flex;
    flex-direction: column;
  }
  .main__pages .chic {
    font-size: 0.8em;
  }
  .main__pages .chic .chic__undertitle {
    display: flex;
    justify-content: space-between;
  }
  .main__pages .chic .chic__undertitle .chic_bar_left, .main__pages .chic .chic__undertitle .chic_bar_right {
    width: 20%;
    height: 1%;
  }
  .main__pages .chic .chic__undertitle h3 {
    font-size: 1.3em;
  }
}
.main__pages {
  display: flex;
  flex-direction: column;
}
.main__pages .link__resto {
  position: relative;
  margin-top: -5%;
  font-family: sans-serif;
  text-align: center;
  font-size: 1.5em;
}
.main__pages .delice {
  width: 70%;
  height: auto;
  margin: auto;
  margin-bottom: 10%;
  box-shadow: 0px 0px 8px 1px #a2a5a4;
  border-radius: 5px;
  font-family: "Caveat";
  font-size: 1.2em;
  background-color: #edefef;
  padding: 5%;
}
.main__pages .delice .delice__title {
  background: -webkit-linear-gradient(right, #269cf9, #1a72f3, #2840df);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Dancing Script", cursive;
  font-size: 3em;
  text-align: center;
  margin-bottom: 10%;
}
.main__pages .delice .delice__undertitle {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
}
.main__pages .delice .delice__undertitle .delice_bar_left, .main__pages .delice .delice__undertitle .delice_bar_right {
  width: 30%;
  height: 1%;
  margin-top: 2%;
}
.main__pages .delice .delice__undertitle h3 {
  font-size: 1.5em;
}
.main__pages .delice .textcontent p {
  display: flex;
  justify-content: space-between;
  font-size: 1.2em;
  padding-left: 5%;
}
.main__pages .delice .textcontent p span {
  display: inline-block;
  justify-self: flex-end;
  padding-right: 5%;
  font-weight: bold;
}
.main__pages .delice #pour__commencer h3 {
  background: linear-gradient(to top, #0228dd 0%, #0228dd 10%, transparent 10.01%) no-repeat left bottom/0 100%;
  transition: background-size 0.5s;
}
.main__pages .delice #pour__commencer h3:hover {
  background-size: 100% 100%;
}
.main__pages .delice #pour__continuer h3 {
  background: linear-gradient(to top, #0670f5 0%, #0670f5 10%, transparent 10.01%) no-repeat left bottom/0 100%;
  transition: background-size 0.5s;
}
.main__pages .delice #pour__continuer h3:hover {
  background-size: 100% 100%;
}
.main__pages .delice #pour__terminer h3 {
  background: linear-gradient(to top, #259ef9 0%, #259ef9 10%, transparent 10.01%) no-repeat left bottom/0 100%;
  transition: background-size 0.5s;
}
.main__pages .delice #pour__terminer h3:hover {
  background-size: 100% 100%;
}

/* mediaqueries petits mobiles*/
@media screen and (max-width: 360px) {
  .main__pages {
    display: flex;
    flex-direction: column;
  }
  .main__pages .delice {
    font-size: 1em;
    background-color: #edefef;
    margin-bottom: 30%;
  }
  .main__pages .delice .delice__title {
    font-size: 1.5em;
  }
  .main__pages .delice .delice__undertitle {
    display: flex;
  }
  .main__pages .delice .delice__undertitle .delice_bar_left, .main__pages .delice .delice__undertitle .delice_bar_right {
    width: 20%;
    height: 1%;
    margin-top: 10%;
  }
  .main__pages .delice .delice__undertitle h3 {
    font-size: 1em;
  }
  .main__pages .delice .textcontent p {
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
    font-size: 1em;
    padding-bottom: 5%;
    padding-left: 0%;
  }
}
/* fin mediaqueries petits mobiles*/
/* mediaqueries grands mobiles*/
@media screen and (min-width: 360px) and (max-width: 767px) {
  .main__pages {
    display: flex;
    flex-direction: column;
  }
  .main__pages .delice {
    font-size: 1em;
    background-color: #edefef;
    margin-bottom: 30%;
  }
  .main__pages .delice .delice__title {
    font-size: 1.5em;
  }
  .main__pages .delice .delice__undertitle {
    display: flex;
  }
  .main__pages .delice .delice__undertitle .delice_bar_left, .main__pages .delice .delice__undertitle .delice_bar_right {
    width: 20%;
    height: 1%;
    margin-top: 7%;
  }
  .main__pages .delice .delice__undertitle h3 {
    font-size: 1em;
  }
  .main__pages .delice .textcontent p {
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
    font-size: 1em;
    padding-bottom: 5%;
    padding-left: 0%;
  }
}
/* fin des mediaqueries grands téléphone*/
/* mediaqueries tablette*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .main__pages {
    display: flex;
    flex-direction: column;
  }
  .main__pages .delice {
    font-size: 1em;
  }
  .main__pages .delice .delice__undertitle {
    display: flex;
    justify-content: space-between;
  }
  .main__pages .delice .delice__undertitle .delice_bar_left, .main__pages .delice .delice__undertitle .delice_bar_right {
    width: 30%;
    height: 1%;
  }
  .main__pages .delice .delice__undertitle h3 {
    font-size: 1.3em;
  }
}
.main__pages {
  display: flex;
  flex-direction: column;
}
.main__pages .link__resto {
  position: relative;
  margin-top: -5%;
  font-family: sans-serif;
  text-align: center;
  font-size: 1.5em;
}
.main__pages .note {
  width: 70%;
  height: auto;
  margin: auto;
  margin-bottom: 10%;
  box-shadow: 0px 0px 8px 1px #a2a5a4;
  border-radius: 5px;
  font-family: "Caveat";
  font-size: 1.2em;
  background-color: #fcdfda;
  padding-right: 5%;
  padding-left: 5%;
}
.main__pages .note .note__musictop {
  height: 100px;
  width: 100px;
  display: block;
  margin: auto;
  margin-top: 5%;
}
.main__pages .note .note__title {
  color: #412023;
  font-family: "Devonshire", cursive;
  font-weight: lighter;
  font-size: 3em;
  text-align: center;
  line-height: 0;
}
.main__pages .note .note__undertitle {
  display: flex;
  justify-content: space-between;
}
.main__pages .note .note__undertitle .note_bar_left, .main__pages .note .note__undertitle .note_bar_right {
  width: 40%;
  height: 1%;
  margin-top: 2%;
}
.main__pages .note .note__undertitle h3 {
  font-size: 1.5em;
  background: linear-gradient(to top, #3f1219 0%, #3f1219 10%, transparent 10.01%) no-repeat left bottom/0 100%;
  transition: background-size 0.5s;
}
.main__pages .note .note__undertitle h3:hover {
  background-size: 100% 100%;
}
.main__pages .note .textcontent p {
  display: flex;
  justify-content: space-between;
  font-size: 1.2em;
  padding-left: 5%;
}
.main__pages .note .textcontent p span {
  display: inline-block;
  justify-self: flex-end;
  padding-right: 5%;
  font-weight: bold;
}
.main__pages .note .note__bottom {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 5%;
}
.main__pages .note .note__bottom .note_music_bottom {
  height: 50px;
  width: 50px;
}
.main__pages .note .note__bottom span {
  color: #412023;
  font-family: "Devonshire", cursive;
  font-weight: lighter;
  font-size: 2em;
}

/* mediaqueries petits mobiles*/
@media screen and (max-width: 360px) {
  .main__pages {
    display: flex;
    flex-direction: column;
  }
  .main__pages .link__resto {
    position: relative;
    margin-top: -5%;
    font-family: sans-serif;
    text-align: center;
    font-size: 1.5em;
  }
  .main__pages .note {
    font-size: 1em;
    background-color: #fcdfda;
    margin-bottom: 30%;
  }
  .main__pages .note .note__musictop {
    height: 50px;
    width: 50px;
  }
  .main__pages .note .note__title {
    font-size: 1em;
  }
  .main__pages .note .note__undertitle {
    display: flex;
  }
  .main__pages .note .note__undertitle .note_bar_left, .main__pages .note .note__undertitle .note_bar_right {
    width: 20%;
    height: 1%;
    margin-top: 10%;
  }
  .main__pages .note .note__undertitle h3 {
    font-size: 1em;
    background: linear-gradient(to top, #3f1219 0%, #3f1219 10%, transparent 10.01%) no-repeat left bottom/0 100%;
    transition: background-size 0.5s;
  }
  .main__pages .note .note__undertitle h3:hover {
    background-size: 100% 100%;
  }
  .main__pages .note .textcontent p {
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
    font-size: 1em;
    padding-bottom: 5%;
    padding-left: 0%;
  }
  .main__pages .note .note__bottom {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 5%;
  }
  .main__pages .note .note__bottom .note_music_bottom {
    height: 20px;
    width: 20px;
  }
  .main__pages .note .note__bottom span {
    color: #412023;
    font-family: "Devonshire", cursive;
    font-weight: lighter;
    font-size: 1em;
  }
}
/* fin mediaqueries petits mobiles*/
/* mediaqueries grands mobiles*/
@media screen and (min-width: 360px) and (max-width: 767px) {
  .main__pages {
    display: flex;
    flex-direction: column;
  }
  .main__pages .link__resto {
    position: relative;
    margin-top: -5%;
    font-family: sans-serif;
    text-align: center;
    font-size: 1.5em;
  }
  .main__pages .note {
    width: 70%;
    height: auto;
    margin: auto;
    margin-bottom: 10%;
    box-shadow: 0px 0px 8px 1px #a2a5a4;
    border-radius: 5px;
    font-family: "Caveat";
    font-size: 1em;
    background-color: #fcdfda;
    margin-bottom: 30%;
  }
  .main__pages .note .note__musictop {
    height: 50px;
    width: 50px;
    display: block;
    margin: auto;
    margin-top: 5%;
  }
  .main__pages .note .note__title {
    color: #412023;
    font-family: "Devonshire", cursive;
    font-weight: lighter;
    font-size: 1em;
    text-align: center;
  }
  .main__pages .note .note__undertitle {
    display: flex;
  }
  .main__pages .note .note__undertitle .note_bar_left, .main__pages .note .note__undertitle .note_bar_right {
    width: 20%;
    height: 1%;
    margin-top: 8%;
  }
  .main__pages .note .note__undertitle h3 {
    font-size: 1em;
    background: linear-gradient(to top, #3f1219 0%, #3f1219 10%, transparent 10.01%) no-repeat left bottom/0 100%;
    transition: background-size 0.5s;
  }
  .main__pages .note .note__undertitle h3:hover {
    background-size: 100% 100%;
  }
  .main__pages .note .textcontent p {
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
    font-size: 1em;
    padding-bottom: 5%;
    padding-left: 0%;
  }
  .main__pages .note .note__bottom {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 5%;
  }
  .main__pages .note .note__bottom .note_music_bottom {
    height: 20px;
    width: 20px;
  }
  .main__pages .note .note__bottom span {
    color: #412023;
    font-family: "Devonshire", cursive;
    font-weight: lighter;
    font-size: 1em;
  }
}
/* fin des mediaqueries grands téléphone*/
/* mediaqueries tablette*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .main__pages {
    display: flex;
    flex-direction: column;
  }
  .main__pages .note {
    font-size: 1em;
  }
  .main__pages .note .note__undertitle {
    display: flex;
    justify-content: space-between;
  }
  .main__pages .note .note__undertitle .note_bar_left, .main__pages .note .note__undertitle .note_bar_right {
    width: 30%;
    height: 1%;
    margin-top: 2%;
  }
  .main__pages .note .note__undertitle h3 {
    font-size: 1.5em;
    background: linear-gradient(to top, #3f1219 0%, #3f1219 10%, transparent 10.01%) no-repeat left bottom/0 100%;
    transition: background-size 0.5s;
  }
  .main__pages .note .note__undertitle h3:hover {
    background-size: 100% 100%;
  }
}
.main__pages {
  display: flex;
  flex-direction: column;
}
.main__pages .link__resto {
  position: relative;
  margin-top: -5%;
  font-family: sans-serif;
  text-align: center;
  font-size: 1.5em;
}
.main__pages .palette {
  width: 70%;
  height: auto;
  margin: auto;
  margin-bottom: 10%;
  box-shadow: 0px 0px 8px 1px #a2a5a4;
  border-radius: 5px;
  background-color: #fdfffd;
  font-family: "Caveat";
  font-size: 1.2em;
  padding: 3%;
}
.main__pages .palette .palette__title {
  background: -webkit-linear-gradient(right, #b6fa79, #41963c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Kaushan Script";
  font-size: 3em;
  text-align: center;
  margin-bottom: 10%;
}
.main__pages .palette .palette__undertitle {
  display: flex;
  justify-content: space-between;
  margin-top: 5%;
}
.main__pages .palette .palette__undertitle .palette_left, .main__pages .palette .palette__undertitle .palette_right {
  width: 30%;
  height: 1%;
  margin-top: 2%;
}
.main__pages .palette .palette__undertitle h3 {
  font-size: 1.5em;
  background: linear-gradient(to top, #4da042 0%, #4da042 10%, transparent 10.01%) no-repeat left bottom/0 100%;
  transition: background-size 0.5s;
}
.main__pages .palette .palette__undertitle h3:hover {
  background-size: 100% 100%;
}
.main__pages .palette .textcontent p {
  display: flex;
  justify-content: space-between;
  font-size: 1.2em;
  padding-left: 5%;
}
.main__pages .palette .textcontent p span {
  display: inline-block;
  justify-self: flex-end;
  padding-right: 5%;
  font-weight: bold;
}

/* mediaqueries petits mobiles*/
@media screen and (max-width: 360px) {
  .main__pages {
    display: flex;
    flex-direction: column;
  }
  .main__pages .palette {
    font-size: 1em;
    background-color: #fdfffd;
    margin-bottom: 30%;
  }
  .main__pages .palette .palette__title {
    font-size: 1.5em;
  }
  .main__pages .palette .palette__undertitle {
    display: flex;
  }
  .main__pages .palette .palette__undertitle .palette_left, .main__pages .palette .palette__undertitle .palette_right {
    width: 20%;
    height: 1%;
    margin-top: 10%;
  }
  .main__pages .palette .palette__undertitle h3 {
    font-size: 1em;
  }
  .main__pages .palette .textcontent p {
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
    font-size: 1em;
    padding-bottom: 5%;
    padding-left: 0%;
  }
}
/* fin mediaqueries petits mobiles*/
/* mediaqueries grands mobiles*/
@media screen and (min-width: 360px) and (max-width: 767px) {
  .main__pages {
    display: flex;
    flex-direction: column;
  }
  .main__pages .palette {
    font-size: 1em;
    background-color: #fdfffd;
    margin-bottom: 30%;
  }
  .main__pages .palette .palette__title {
    font-size: 1.5em;
  }
  .main__pages .palette .palette__undertitle {
    display: flex;
  }
  .main__pages .palette .palette__undertitle .palette_left, .main__pages .palette .palette__undertitle .palette_right {
    width: 20%;
    height: 1%;
    margin-top: 7%;
  }
  .main__pages .palette .palette__undertitle h3 {
    font-size: 1em;
  }
  .main__pages .palette .textcontent p {
    text-align: center;
    display: flex;
    flex-direction: column-reverse;
    font-size: 1em;
    padding-bottom: 5%;
    padding-left: 0%;
  }
}
/* fin des mediaqueries grands téléphone*/
/* mediaqueries tablette*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .main__pages {
    display: flex;
    flex-direction: column;
  }
  .main__pages .palette {
    font-size: 0.8em;
  }
  .main__pages .palette .palette__undertitle {
    display: flex;
    justify-content: space-between;
  }
  .main__pages .palette .palette__undertitle .palette_left, .main__pages .palette .palette__undertitle .palette_right {
    width: 30%;
    height: 1%;
  }
  .main__pages .palette .palette__undertitle h3 {
    font-size: 1.3em;
  }
}
#mentions__legales {
  margin: 5%;
  text-align: justify;
}
#mentions__legales h2 {
  text-align: center;
  font-size: 3em;
  margin: 5%;
}

/* mediaqueries petits mobiles*/
@media screen and (max-width: 360px) {
  #mentions__legales {
    margin-bottom: 30%;
    text-align: justify;
  }
  #mentions__legales h2 {
    text-align: center;
    font-size: 2em;
    margin: 5%;
  }
  #mentions__legales li, #mentions__legales p {
    text-align: left;
  }
}
/* fin mediaqueries petits mobiles*/
/* mediaqueries grands mobiles*/
@media screen and (min-width: 360px) and (max-width: 767px) {
  #mentions__legales {
    margin-bottom: 30%;
    text-align: justify;
  }
  #mentions__legales h2 {
    text-align: center;
    font-size: 2em;
    margin: 5%;
  }
  #mentions__legales li, #mentions__legales p {
    text-align: left;
  }
}
/* fin des mediaqueries grands téléphone*/
/* mediaqueries tablette*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  #mentions__legales {
    margin-bottom: 20%;
  }
}
body {
  margin: 0;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 5%;
}
main .menu__1 {
  height: 350px;
  width: 250px;
  text-align: center;
  box-shadow: 0px 0px 8px 1px #a2a5a4;
  border-radius: 5px;
  background-color: #fcdfda;
}
main .menu__1 .link {
  transform: scale(1);
  transition: transform 300ms ease-in-out;
  opacity: 1;
}
main .menu__1 .link:hover {
  transform: scale(1.15);
  opacity: 0.5;
}
main .menu__1 a {
  text-decoration: none;
}
main .menu__1 h2 {
  color: #412023;
  font-family: "Devonshire", cursive;
  font-weight: lighter;
  font-size: 2em;
  margin-top: 0;
  line-height: 0.8em;
}
main .menu__1 h3 {
  font-family: "Caveat";
  font-size: 2.5em;
  font-weight: lighter;
  color: #412023;
  line-height: 0em;
}
main .menu__1 .note__musictop {
  position: relative;
  margin-top: 40%;
  height: 50px;
  width: 50px;
}
main .menu__2 {
  height: 350px;
  width: 250px;
  text-align: center;
  box-shadow: 0px 0px 8px 1px #a2a5a4;
  border-radius: 5px;
  background-color: #fff5fe;
}
main .menu__2 .link {
  transform: scale(1);
  transition: transform 300ms ease-in-out;
  opacity: 1;
}
main .menu__2 .link:hover {
  transform: scale(1.15);
  opacity: 0.5;
}
main .menu__2 a {
  text-decoration: none;
}
main .menu__2 h2 {
  background: -webkit-linear-gradient(right, #7252cd, #c67412);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Croissant One", cursive;
  font-size: 1.2em;
  padding-top: 50%;
}
main .menu__2 h3 {
  font-family: "Source Serif Pro", serif;
  color: #c67412;
  font-size: 1.7em;
  line-height: 1em;
}
main .menu__3 {
  height: 350px;
  width: 250px;
  text-align: center;
  box-shadow: 0px 0px 8px 1px #a2a5a4;
  border-radius: 5px;
  background-color: #edefef;
}
main .menu__3 .link {
  transform: scale(1);
  transition: transform 300ms ease-in-out;
  opacity: 1;
}
main .menu__3 .link:hover {
  transform: scale(1.15);
  opacity: 0.5;
}
main .menu__3 a {
  text-decoration: none;
}
main .menu__3 h2 {
  background: -webkit-linear-gradient(right, #269cf9, #1a72f3, #2840df);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Dancing Script", cursive;
  font-size: 1.6em;
  padding-top: 50%;
}
main .menu__3 h3 {
  font-family: "Caveat";
  font-size: 2.5em;
  font-weight: lighter;
  color: #1a72f3;
  line-height: 0em;
}
main .menu__4 {
  height: 350px;
  width: 250px;
  text-align: center;
  box-shadow: 0px 0px 8px 1px #a2a5a4;
  border-radius: 5px;
  background-color: #fdfffd;
}
main .menu__4 .link {
  transform: scale(1);
  transition: transform 300ms ease-in-out;
  opacity: 1;
}
main .menu__4 .link:hover {
  transform: scale(1.15);
  opacity: 0.5;
}
main .menu__4 a {
  text-decoration: none;
}
main .menu__4 h2 {
  background: -webkit-linear-gradient(right, #b6fa79, #41963c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Kaushan Script";
  font-size: 1.6em;
  padding-top: 50%;
}
main .menu__4 h3 {
  font-family: "Caveat";
  font-size: 2.5em;
  font-weight: lighter;
  color: #41963c;
  line-height: 0em;
}

.prochainement {
  border: none;
  display: block;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

/* mediaqueries petits mobiles*/
@media screen and (max-width: 360px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .menu__2 {
    margin-top: 10%;
  }
  main .menu__3 {
    margin-top: 10%;
  }
  main .menu__4 {
    margin-top: 10%;
  }

  .prochainement {
    margin-top: 10%;
    margin-bottom: 30%;
  }
}
/* fin mediaqueries petits mobiles*/
/* mediaqueries grands mobiles*/
@media screen and (min-width: 360px) and (max-width: 767px) {
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  main .menu__2 {
    margin-top: 10%;
  }
  main .menu__3 {
    margin-top: 10%;
  }
  main .menu__4 {
    margin-top: 10%;
  }

  .prochainement {
    margin-top: 10%;
    margin-bottom: 30%;
  }
}
/* fin des mediaqueries grands téléphone*/
/* mediaqueries tablette*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  main {
    flex-wrap: wrap;
  }
  main .menu__1 {
    margin: 5%;
  }
  main .menu__2 {
    margin: 5%;
  }
  main .menu__3 {
    margin: 5%;
  }
  main .menu__4 {
    margin: 5%;
  }

  .prochainement {
    margin-bottom: 10%;
  }
}

/*# sourceMappingURL=style.css.map */
