footer {
    background-color: $header;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
        .footer__text{
        color: $titlefixed;
        font-size: 1.2em;
        font-family: 'Montserrat', sans-serif;
        text-decoration: none;   
        margin-left: 5%;
        margin-right: 5%;
        padding-top: 1%;
    }
}