footer {
    background-color: $header;
    height: 100px;
    display: flex;
    justify-content: space-between;
        .footer__text{
        color: $titlefixed;
        font-size: 1.2em;
        font-family: 'Montserrat', sans-serif;
        text-decoration: none;   
        margin-left: 5%;
        margin-right: 5%;
        padding-top:3%;
    }
}