body{
    margin: 0;
}

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 5%;

    .menu__1{
        @include bloc-menu-accueil;
        background-color: $menu-note;
            h2{
                @include note-title;
                font-size: 2em;
                margin-top: 0;
                line-height: 0.8em;
            }
            h3{
                @include menu-subtitle;
                color: $text-note;
                line-height: 0em;
            }
            .note__musictop{
                position: relative;
                margin-top: 20%;
                height: 100px;
                width: 100px;   
            }
        } 

    .menu__2{
        @include bloc-menu-accueil;
        background-color: $menu-chic;
            h2{
                @include chic-title;
                font-size: 1.2em;
                padding-top: 50%;
            }
            h3{
                @include chic-subtitle;
                line-height: 1em;
            }
        }
    
    .menu__3{
        @include bloc-menu-accueil;
        background-color: $menu-delice;
            h2{
                @include delice-title;
                font-size: 1.6em;
                padding-top: 50%;
            }
            h3{
                @include menu-subtitle;
                color: $delice-main;
                line-height: 0em;
            }
        }

    .menu__4{
        @include bloc-menu-accueil;
        background-color: $menu-palette;
            h2{
                @include palette-title;
                font-size: 1.6em;
                padding-top: 50%;
            }
            h3{
                @include menu-subtitle;
                color: $palette-dark;
                line-height: 0em;
            }
        } 
    }

.prochainement{
    border: none;
    display: block;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}   

/* mediaqueries petits mobiles*/

@media screen and (max-width:360px) {
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
            .menu__2{
                margin-top: 10%;
                }
            .menu__3{
                margin-top: 10%;
            }
            .menu__4{
                margin-top: 10%;
            } 
        }
    .prochainement{
        margin-top: 10%;
        margin-bottom: 30%;
    }   
} /* fin mediaqueries petits mobiles*/

/* mediaqueries grands mobiles*/

@media screen and (min-width: 360px) and (max-width:767px) {
    main{
        display: flex;
        flex-direction: column;
        align-items: center;
        .menu__2{
            margin-top: 10%;
        }
        .menu__3{
            margin-top: 10%;
        }
        .menu__4{
            margin-top: 10%;
            } 
        }
    .prochainement{
        margin-top: 10%;
        margin-bottom: 30%;
    }  
} /* fin des mediaqueries grands téléphone*/

/* mediaqueries tablette*/

@media screen and (min-width:768px) and (max-width:1024px) {
    main{
        flex-wrap: wrap;
            .menu__1{
                margin:5%;      
            } 
            .menu__2{
                margin:5%;   
            }   
            .menu__3{
                margin:5%;  
            }
            .menu__4{
                margin:5%;   
            } 
    } 
    .prochainement{
        margin-bottom: 10%;
    }    
}