.main__pages {
    display: flex;
    flex-direction: column;
        .link__resto{
        @include name-page;
        }
            .delice{
                @include bloc-menu-page;
                font-family: 'Caveat';
                font-size: 1.2em;
                background-color: $menu-delice;
                padding: 5%;
                    .delice__title{
                        @include delice-title;
                        font-size: 3em;
                        text-align: center;
                        margin-bottom: 10%;
                        }
                    .delice__undertitle{
                        display: flex;
                        justify-content: space-between;
                        margin-top: 5%;
                            .delice_bar_left, .delice_bar_right{
                                width: 30%;
                                height: 1%;
                                margin-top: 2%;
                                }
                            h3{
                                font-size: 1.5em;                    
                                }  
                            }
                    .container{
                        display: flex;
                        justify-content: space-between;
                        margin-right: 3%; 
                                li{
                                    list-style-type: none;
                                    font-size: 1.2em;
                                    line-height: 2.5em;
                                }     
                    }    
                    
                    #pour__commencer h3{
                        background: linear-gradient(to top, rgb(2, 40, 221) 0%,rgb(2, 40, 221) 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
                        transition: background-size 0.5s;
                            &:hover {
                                background-size: 100% 100%;
                                }     
                    }

                    #pour__continuer h3{
                        background: linear-gradient(to top, rgb(6, 112, 245) 0%,rgb(6, 112, 245) 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
                        transition: background-size 0.5s;
                            &:hover {
                                background-size: 100% 100%;
                                }  
                    }

                    #pour__terminer h3{
                        background: linear-gradient(to top, rgb(37, 158, 249) 0%,rgb(37, 158, 249) 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
                        transition: background-size 0.5s;
                            &:hover {
                                background-size: 100% 100%;
                                }  
                    }
                }
        }

/* mediaqueries petits mobiles*/

@media screen and (max-width:360px) {
   
    
} /* fin mediaqueries petits mobiles*/

/* mediaqueries grands mobiles*/

@media screen and (min-width: 360px) and (max-width:767px) {
    
} /* fin des mediaqueries grands téléphone*/

/* mediaqueries tablette*/

@media screen and (min-width:768px) and (max-width:1024px) {

}