.main__pages {
    display: flex;
    flex-direction: column;
        .link__resto{
        @include name-page;
        }
            .note{
            @include bloc-menu-page;
            font-family: 'Caveat';
            font-size: 1.2em;
            background-color: $menu-note;
            padding-right: 5%;
            padding-left: 5%;
                .note__musictop{
                    height: 100px;
                    width: 100px;
                    display: block;
                    margin: auto;
                    margin-top: 5%;
                }
                .note__title{
                    @include note-title;
                    font-size: 3em;
                    text-align: center;
                    line-height: 0;
                    }
                .note__undertitle{
                    display: flex;
                    justify-content: space-between;
                    .note_bar_left, .note_bar_right{
                        width: 40%;
                        height: 1%;
                        }
                        h3{
                            font-size: 1.5em;
                            line-height: 0.2em;                            
                            }  
                    }
                .name, .price {
                    list-style-type: none;
                    padding-bottom: 2%;
                    font-size: 1.2em;
                }
                .price{
                    position: absolute;
                    margin-left: 60%;
                    margin-top: -3%; 
                }
                .note__bottom{
                    position: relative;
                    display: flex;
                    justify-content: center;
                    margin: 5%;
                    .note_music_bottom{
                        height: 50px;
                        width: 50px;
                    }
                    span {
                        @include note-title;
                        font-size: 2em;
                }

                }
            }
     }
